/* Reset de margens e configurações globais */
* {
margin: 0;
padding: 0;
box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffed00;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

/* Ocultando linhas <hr> */