/* Reset de margens e configurações globais */
* {
margin: 0;
padding: 0;
box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: black;
    line-height: 1.6;
    padding: 20px;
}

/* Ocultando linhas <hr> */ 
hr {
    display: none;
}

/* Cabeçalho */
header {
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1{
    font-size: 1.5rem;
    font-weight: normal;
}
/* Rodapé */

footer {
    text-align: center;
    padding: 20px;
    color: blue;
    font-size: 0.875rem;
    margin-top: 30px;

}

/* Estrutura de Distribuição na Tela */
body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
header, footer{
    width:100%
}

/* Menu Lateral (aside) */
aside{
    flex:1;
    min-width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid white;
    height: fit-content;
}

aside{
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: blue
}

aside ul{
    list-style: none;
}

aside li{
    margin-bottom: 10px;
}

aside a{
    text-decoration: underline;
    color: blue;
    font-size: 0.95rem;
}

aside a{
    text-decoration: underline;
}

main{
    flex:3;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

section{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid white;
}

section h2{
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: black;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

/* Campos de entrada e botões */
form label {
    font-weight: 600;
    font-size: 0.85rem;
    color: grey
}

/* Aplica o estilo a todos os inputs */
input [type="text"],
input [type="number"],
input [type="date"],
select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 0,95rem;
}
input:focus, select:focus{
    outline: none;
    border-color: blue;
}

/* Botões */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    margin-right: 10px;
}
button[type="submit"]{
    background-color: blue;
    color: white;
}
button[type="submit"]:hover{
    background-color: darkblue;
}

button[type="reset"]{
    background-color: white;
    color: grey;
}
button[type="reset"]:hover {
    background-color: whitesmoke; 
}